fastapi==0.115.6
uvicorn[standard]==0.32.1
dashscope==1.20.14
faiss-cpu==1.9.0.post1
pydantic==2.10.3
oss2==2.19.1
pytest==8.3.4
pytest-mock==3.14.0
matplotlib==3.9.3
numpy==1.26.4
python-multipart==0.0.19
python-dotenv==1.0.1
PyPDF2==3.0.1
